{% extends "base.html" %}

{% block content %}
<h2>Edit Your Profile</h2>
<div class="card" style="padding:20px; max-width:600px; margin:auto;">
    <form method="POST" enctype="multipart/form-data">

        <label for = "BIO">Bio:</label>
        <input type="text" name="BIO" value="{{ profile[2] }}">

        <label for = "subjects">Subjects:</label>
        <input type="text" name="subjects" value="{{ profile[4] }}">

        <label for = "timings">timings:</label>
        <input type="text" name="timings" value="{{ profile[6] }}">

        <label for = "image">Profile Image:</label>
        {% if profile[5] %}
            <div style="margin-bottom:10px;">
                <img src="{{profile[5]}}" 
                     alt="Current Profile Image" 
                     style="max-width:200px; border-radius:10px; display:block;">
            </div>
        {% endif %}
        <input type="file" name="image">

        <button type="submit" class="btn btn-primary mt-2">Save Changes</button>
    </form>
</div>
{% endblock %}