{% extends "base.html" %}

{% block content %}

<h2>Welcome, {{ username }}!</h2>
<p>This is your homepage.</p>

<h2 class="mt-4">Help Requests</h2>

{% if requests %}
<div class="thread-container">
    {% for req in requests %}
    <div class="thread-card">
        <h2 class = "thread-header"> {{req.username}}</h2>
        <h5 class = "thread-info"> {{req.created_at}}</h5>
        <p class="thread-description">{{ req.description }}</p>

        {% if req.image_path %}
        <div class="thread-image">
            <img src="{req.image_path}}" alt="Request Image">
        </div>
        {% endif %}

        {% if req.replies %}
        <div class="thread-replies">
            <strong>Replies:</strong>
            {% for reply in req.replies %}
            <div class="reply-card">
                <strong>{{ reply[3] }}:</strong> {{ reply[1] }}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No replies yet.</p>
        {% endif %}


        <form action="{{ url_for('reply_request', request_id=req.id) }}" method="POST" class="reply-form">
            <textarea name="message" placeholder="Write your reply..." required></textarea>
            <button type="submit">Reply</button>
        </form>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No requests yet.</p>
{% endif %}

<div class="pagination mt-4">
    {% if page > 1 %}
        <a class="btn btn-outline-primary" href="{{ url_for('home', page=page-1) }}">Previous</a>
    {% endif %}
    {% if page < total_pages %}
        <a class="btn btn-outline-primary" href="{{ url_for('home', page=page+1) }}">Next</a>
    {% endif %}
</div>

{% endblock %}
