{% extends "base.html" %}

{% block content %}

    <h2>Welcome, {{ username }}!</h2>
    <p>This is your homepage.</p>

    <h2>Tutor Requests</h2>
    <ul>
        {% for request in requests %}
            <li>
                <strong>Subject:</strong> {{ request[1] }} <br>
                <strong>Description:</strong> {{ request[2] }} <br>
                <strong>Requested by:</strong> {{ request[4] }} <br>
                <strong>Created at:</strong> {{ request[3] }}

                {% if request[5] %} 
                <img src="{{ url_for('static', filename='uploads/' ~ request[5]) }}" 
                 alt="Request Image" style="max-width:300px; max-height:300px;"><br>
                {% endif %}
            
              <form action="{{ url_for('help_request', request_id=request[0]) }}" method="post">
                    <textarea name="message" placeholder="Write your message here..." required></textarea><br>
                    <button type="submit">Help</button>
              </form>
            </li>
  </div>
        {% endfor %}
    </ul>

    <div>
        {% if page > 1 %}
            <a href="{{ url_for('home', page=page-1) }}">Previous</a>
        {% endif %}
        
        {% if page < total_pages %}
            <a href="{{ url_for('home', page=page+1) }}">Next</a>
        {% endif %}
    </div>

{% endblock %}
