
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>Register</h2>
    <form action="/auth/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>  
        <label for="year">Year Group:</label>
        <select id="year" name="year" required>
            <option value="7">Year 7</option>
            <option value="8">Year 8</option>
            <option value="9">Year 9</option>
            <option value="10">Year 10</option>
            <option value="11">Year 11</option>
            <option value="12">Year 12</option>
            <option value="13">Year 13</option>
        </select>
        <br>  
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/auth/login">Login</a></p>

{% endblock %}